<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Templates in AngularJS</title>

    <script defer type="text/javascript" src="angular.js"></script>
    <script defer type="text/javascript" src="angular-route.js"></script>
    <script defer type="text/javascript" src="app.js"></script>
</head>
<body>

<ng-view></ng-view>

<!-- Template -->
<script type="text/ng-template" id="/todos.html">
    <ul>
        <li ng-repeat="todo in todos">
            <label>
                <input type="checkbox" ng-model="todo.completed"> {{todo.name}}
            </label>
        </li>
    </ul>
</script>


</body>
</html>